/* Browser Reset **************/
* {
	margin:0;
	padding:0;
}

/* Gerneral *******************/
body, html {
	font-family:arial;
	font-size:12px;
}

div.h1 {
	
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	border-bottom:1px dotted #AAA;
}

div.h1 div.floatL {
	width:auto;
}

div.h1 ul#header-navigation {
	font-size:14px;
	font-family:Georgia,"Times New Roman",Times,serif; 
	text-align:right;
}

h1 {
	color:#666;
	font-weight:normal;
	margin:0;
	padding:0;

}
h2 {
	color:#555756;
	font-size:12px;
	
	padding:0;
}
p {
	line-height:18px;
}
li {
	list-style:none;
}
a:link, a:visited {
	color:#555756;
	font-weight:bold;
}
a:hover, a:active {
	text-decoration:none;
}
img {
	border:0;
	}
	
.floatL {
	width:48%;
	float:left;
}

.floatR {
	width:48%;
	float:right;
}
	
.clear {
	clear:both;
}

.eglink {
	text-decoration:none;

}
.eglink:hover {

	color:#66bc29;
}
 /* Content styles ************/
#frame_bg {
	background:url('../images/frame_bg.gif') repeat-y top;
}
#frame {
	width:1000px;
	margin:0 auto 0 auto;
}

/* Header *********************/
#header {
	height:105px;
	background: url(../images/watermark_head.gif);
	background-repeat:no-repeat;
	background-position: 550px;
}

p.topBlurb {
		font-size:medium;
}

#header_top_bar {
	background:url('../images/top_bar_bg.gif') no-repeat top;
	height:31px;
	color:#ffffff;
}
#header_top_bar form {
	position:absolute;
	margin-left:658px;
	top:5px;
	padding:0 3px 3px 3px;
}
#header_top_bar input {
	width:122px;
	color:#8e908f;
}
#header_logo {
	float:left;
	margin:10px 0 0 10px;
	width: 541px;
	height:91px;
	background: url('../images/logo.gif') no-repeat top left;
}

#salesPerson {
	float:right;
	text-align:right;
	margin-right:5px;
	margin-top:5px;
	color:#666;
	font-weight:bold;
	background:#FFF;
	border:1px dotted #AAA;
	padding:10px;
}

#salesPerson P.header {
}

#salesPerson P.details {
	color:#AAA;
}

#salesPerson P.details  A, #salesPerson P.details  A:link, #salesPerson P.details  A:visited, #salesPerson P.details  A:active {
	text-decoration:none;
	color:#AAA;
}
#salesPerson P.details  A:hover {
	text-decoration:underline;
}

#header_logo2 {
	float:right;
	margin:10px 10px 0 10px;
}
#header_learnmore {
	float:right;
	margin:40px 10px 0 0;
	}
#header_learnmore a:link, #header_learnmore a:visited {
	color:#ffffff;
	background-color:#8aacd1;
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;
	text-decoration:none;
	}
#header_learnmore a:hover, #header_learnmore a:active {
	color:#ffffff;
	background-color:#cccccc;
	}
	
/* header navigation ********************/
ul#header-navigation {
	height:30px;
	font-size:14px;
	font-family:Georgia,"Times New Roman",Times,serif; 
	
	float:right;
}
ul#header-navigation li {
	float:left;
	padding-top:7px;
	padding-right:11px;
	list-style:none;
}
ul#header-navigation li a:link,
ul#header-navigation li a:visited {
	text-decoration:none;
	margin:8px 10px 8px 0px;
	color:#666;
	
	
}
ul#header-navigation li a:hover,
ul#header-navigation li a:active {
	color:#00558f;
}

ul#header-navigation li.selected  a, ul#header-navigation li.selected a:active, ul#header-navigation li.selected a :visited, ul#header-navigation li.selected a :link {
	color: #000;
	font-weight:strong;
	border-bottom:2px dashed #666;
}

DIV.logoGroup  {
	text-align:center;
}

DIV.logoGroup  IMG {
	float:none !important;
	padding:none !important;
	margin:2px !important;
}

DIV.logoGroup A {
}
	
/* Content ********************/

UL.faq {
	list-style-type:none;
	padding:5px;
	padding-left:15px;
	margin:0px;
	
}

UL.faq li.q {
	background-image:url(../images/question.jpg);
	background-repeat:no-repeat;
	background-position:0px 5px; 
	padding-left:40px;
	padding-top:9px;
	height:34px;
	font-weight: bold;
	font-size:16px;
	color: #000;
}

UL.faq li.a {
	list-style: none outside none;
	padding-top:3px;
	padding-bottom:13px;
	font-size:14px;
}


#content {
	background: url(../images/watermark.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#content_full {
	background:url('../images/content_full.gif') no-repeat top;
	border-bottom:1px solid #cccccc;
	margin:0 0 10px 10px;
	padding:15px;
	width:950px;
}

#content_left, #content_mid, #content_right {
	float:left;
	width:300px;
	margin:0 0 10px 10px;
	padding:10px;
	background:url('../images/col_top.gif') no-repeat top;
	border-bottom:1px solid #cccccc;
}

#content_left1, #content_mid1, #content_right1 {
	float:left;
	width:250px;
	margin:0 10px 10px 0px;
	padding:10px;
	background:url('../images/col_top.gif') no-repeat top right;
	border-bottom:1px solid #cccccc;
}


#content_demo {
	float:left;
	width:130px;
	margin:0 10px 10px 0px;
	padding:10px;
	background:url('../images/col_top.gif') no-repeat top right;
	border-bottom:1px solid #cccccc;
}

#content_left1 a:hover{
	color: #8e908f;
}

#content p {
	margin:10px;
	color:#454746;
}

#content_left img, #content_mid img, #content_right img {
	float:left;
	padding:0 10px 0 0;
}


#content_left ul, #content_mid ul, #content_right ul {
	margin:10px 0 0px 0;
	padding:0 0 10px 0;
	background:url('../images/content_dotted_line.gif') no-repeat bottom;
	}
	
#content_left ul.last, #content_mid ul.last, #content_right ul.last  {
	background: none;
}
	
#content_left ul li a, #content_mid ul li a, #content_right ul li a {
	font-size:12px;
	padding:5px 0 0 0;
	
}
#content_left ul li p, #content_mid ul li p, #content_right ul li p {
	font-size:12px;
	xpadding:0 0 0 10px;
	margin:0;
	width:290px;
	
}

/* Some hacks for dumb IE6/7  */
* html #content_left ul li p, * html #content_mid ul li p, * html #content_right ul li p {
	width:200px;
}
*:first-child+html #content_left ul li p, *:first-child+html #content_mid ul li p, *:first-child+html #content_right ul li p  {
	width:200px;
}
* html h2 {
	margin:-10px 0 0 0;
}
*:first-child+html h2 {
	margin:-10px 0 0 0;
}


#content_left ul, #content_mid ul, #content_right ul {
	float:left;
}


#content_full img {
	padding:10px 10px 0 10px;
}


DIV#brochures UL {
	margin:20px;
	
}

DIV#brochures UL LI {
	list-style-type: none;
	display:inline;

}

/* Footer *********************/
#footer {
	height:93px;
	background:url('../images/footer_bg.gif') repeat-x top;
	xposition:absolute;
	background-color:#cccccc;
	bottom:100px;
}
#footer_logo {
	float:left;
	padding:45px 0 0 10px;
}
#footer_copyright {
	float:right;
	color:#999999;
	padding:70px 10px 0;
}

.dotted_hr {
	height:1px;
	margin:10px 0 0px 0;
	background:url('../images/content_dotted_line.gif') no-repeat bottom;
	}
.dotted_hr_620 {
	height:1px;
	margin:10px 0 0px 0;
	background:url('../images/content_dotted_line.gif') repeat-y bottom;
	width:620px;
	}
	
/**/
#col_300 {
	width:320px;
	float:left;
	margin:0 0 10px 10px;
	}
#col_300 img, #col_600 img {
	margin:0;
	padding:5px 0 0 0;
	}
#col_300 p {
	padding:0 0 0 0;
	margin:4px 0 4px 2px;
	}
#col_300 #mytable, #col_600 #mytable {
	width: 300px;
	padding: 0;
	xmargin: 0;
}
#col_300 table {
	}
#col_300 caption, #col_600 caption {
	padding: 5px 0 5px 2px;
	width:320px;	 
	font: normal 12px Arial, Helvetica, sans-serif;
	text-align: left;
	color: #8e908f;
}
#col_300 th, #col_600 th {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #c5d6e8;
	border-bottom: 1px solid #c5d6e8;
	border-top: 1px solid #c5d6e8;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
}
#col_300 th.nobg, #col_600 th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #c5d6e8;
	background: none;
}

#col_300 td, #col_600 td {
	border-right: 1px solid #c5d6e8;
	border-bottom: 1px solid #c5d6e8;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}
#col_300 td.alt, #col_600 td.alt {
	background: #F5FAFA;
	color: #797268;
}
#col_300 td.alt_neg, #col_600 td.alt_neg {
	background: #F5FAFA;
	color: #f7403a;
}
#col_300 td.alt_pos, #col_600 td.alt_pos {
	background: #F5FAFA;
	color: #66bc29;
}
#col_300 td.alt_nochange, #col_600 td.alt_nochange {
	background: #F5FAFA;
	color: #0098cd;
}
#col_300 td.neg, #col_600 td.neg {
	color: #f7403a;
}
#col_300 td.pos, #col_600 td.pos {
	color: #66bc29;
}
#col_300 td.nochange, #col_600 td.nochange {
	color: #797268;
}

#col_300 th.spec, #col_600 th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 11px Arial, Helvetica, sans-serif;
}
#col_300 th.specalt, #col_600 th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #797268;
}

#col_600 {
	width:620px;
	float:left;
	margin:0 0 10px 10px;
	}
#col_600 #mytable, #col_600 caption {
	width: 620px;
}

/* Thumbnails */

UL.thumbnails {

	margin-left:50px;
}

UL.thumbnails LI {
	display:block;
	text-align:center;
	float:left;
	width:132px;
	height:132px;
	padding:3px;
	border:2px solid #666;
	margin:5px;
}


/* TABS **********************************************************************************************************/
@media projection, screen {
    .ui-tabs-hide {
        display: none;
    }
}
@media print {
    .ui-tabs-nav {
        display: none;
    }
}
/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { 
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 64px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(../images/tabs/tab.png) no-repeat;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #27537a;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #666;
}
.ui-tabs-nav a span {
    xwidth: 64px; /* IE 6 treats width as min-width */
    xmin-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    border-top: 1px solid #cccccc;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(../images/tabs/loading.gif) no-repeat 0 50%;
}
/* IE bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}


UL.blockLinks {
	list-style: none outside none;
	float:none !important;
	display:block !important;
	text-align:right !important;
	background:none !important;
	padding:5px !important;
	margin:none !important;
	margin-top:10px !important;
}


UL.blockLinks LI {
	text-align: center;
	font-weight:bold;
	display:inline;
	margin-left:5px;
	padding-left:5px;
	border-left:1px solid #000;
}

UL.blockLinks LI.first {
	border:none;
	padding-left:none;
}

UL.blockThumbnailLinks {
	list-style: none outside none;
}

UL.blockThumbnailLinks LI {
	text-align: center;
    border: 5px solid #DDDDDD;
    float: left;
    height: 80px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 80px;
}
UL.blockThumbnailLinks IMG {
	border:medium none;
}


/******************************/
#wrapper{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:100px;
}
#steps{
    width:600px;
}
.step {
	display:block;
    width:600px;
}

#navigation{
    height:45px;
    background-color:#e9e9e9;
    border-top:1px solid #fff;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#navigation ul{
    list-style:none;
	float:left;
	margin-left:22px;
}
#navigation ul li{
	float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
	margin:0px 2px;
}
#navigation ul li a{
    display:block;
    height:45px;
    background-color:#444;
    color:#777;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:45px;
    padding:0px 20px;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    background:#f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        )
}
#navigation ul li a:hover,
#navigation ul li.selected a{
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

#steps form fieldset{
    border:none;
    padding-bottom:20px;
}
#steps form legend{
    text-align:left;
    background-color:#f0f0f0;
    color:#666;
    font-size:24px;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    float:left;
    width:590px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
}
#steps form p, #steps form div.p{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    margin-left:100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}

#steps form p span, #steps form div.p span {
	text-align:center;
	display:block;
	padding:5px;
	color: #666;
}

#steps form p.formError, #steps form div.formError {
	text-align:center;
	font-weight:bolder;
	font-size:18px;
	color:#6C2DC7;
}

#steps form p label, #steps form div.p label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form input:not([type=checkbox]),
#steps form textarea,
#steps form select{

    width: 200px;
    float:left;
}

#steps form input  {
	padding-right:5px;
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
	margin-right:10px;
}

#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
#steps form p.submit, #steps form div.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#steps form button {
	border:none;
	outline:none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:22px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background:#4797ED;
}
#steps form button:hover {
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

TABLE.wishlistContentsTable TD.removeWidget {
	text-align:center;
}


DIV.dataTable {
	margin:5px;
}

DIV.dataTable TABLE TH {
	border-bottom:1px dotted #666;
	background:#EEE;
	padding:none;
	margin:0;
}


DIV.dataTable TABLE  {
	border:1px solid #666;
}

DIV.dataTable TABLE TD {
	padding:1px;
	border-left:1px solid #666;
	border-right:1px solid #666;
	border-top:1px solid #666;
}


DIV.dataTable TABLE TR.separator {
	background:#BBB;

}

DIV.dataTable TABLE TR.separator TD {
	height:35px;
}

.error {
	border:1px solid #000;
	color: #800000 !important;
	font-weight:bold;
	font-size:16px;
	width:400px;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding:5px;
}

.success {
	border:1px solid #000;
	color:#006600 !important;
	font-weight:bold;
	font-size:16px;
	width:400px;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding:5px;
}



DIV.adminForm form {
    margin: 0;
    padding: 0;
}
DIV.adminForm fieldset {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin: 1em 0;
}
DIV.adminForm legend {
    background: none repeat scroll 0 0 transparent;
    color: #003366;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0 0.5em;
}
DIV.adminForm label {
    float: left;
    text-align: right;
    width: 100px;
	font-weight:bold;
	padding:0 15px;
}
DIV.adminForm fieldset div {
    display: block;
    margin-bottom: 0.5em;
    padding: 0;
}

DIV.adminForm .fm-opt {
	margin-bottom:5px;
	padding-bottom:5px;
}

DIV.adminForm fieldset div input, DIV.adminForm fieldset div textarea {
    border-color: #555555 #CCCCCC #CCCCCC #555555;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    padding: 1px;
    width: 150px;
}

DIV.adminForm fieldset div textarea {
	width:600px;
}

DIV.adminForm fieldset div input[type="checkbox"] {
	width:20px;
	margin-left:125px;
}

DIV.adminForm fieldset div select {
    padding: 1px;
}
DIV.adminForm div.fm-multi div {
    margin: 5px 0;
}
DIV.adminForm div.fm-multi input {
    width: 1em;
}
DIV.adminForm div.fm-multi label {
    display: block;
    padding-left: 5em;
    text-align: left;
    width: 200px;
}
DIV.adminForm .fm-submit {
    clear: both;
    padding-top: 1em;
    text-align: center;
}
DIV.adminForm .fm-submit input {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-size: 100%;
    padding: 2px 1em;
}
DIV.adminForm input:focus, DIV.adminForm textarea:focus {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #000000;
}
DIV.adminForm fieldset div.fm-req {
    font-weight: bold;
}
DIV.adminForm fieldset div.fm-req label:before {
    content: "* ";
}

/******************************/
/*   WIDGETS */
/******************************/

UL.widgetGrid {
    list-style-type: none;
    padding: 10px;
	text-align:center;
}

UL.widgetGrid LI {
	margin: 0;
	vertical-align: top;
	width: 185px;
	display: inline-block;
	text-align:left;
}

UL.widgetGrid LI.widgetSeparator {
	width:auto;
	display:block;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	background: #EEE url(../images/grid-gradient.gif) center repeat-y;
	text-transform:uppercase;
	font-weight:bold;
	color:#333;
	padding:5px;
	border-bottom:1px solid#333;
	border-top:1px solid #333;
}

UL.widgetGrid LI.widgetSeparator SPAN.glossaryLink  {
	padding:0;
	margin:0;
}

UL.widgetGrid LI.widgetSeparator SPAN.glossaryLink A {
    margin: 0;
    padding: 0 0 0 15px;
    position: relative;
}

UL.widgetGrid LI.widgetSeparator SPAN.glossaryLink A IMG {
    border: medium none;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: -2px;
}

UL.widgetGrid UL.item {
	display: block;
	height: 200px;
	list-style-type: none;
	overflow: hidden;
	width: 185px;


	border:1px solid #FFF;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}


UL.widgetGrid UL.item:hover {
	cursor: pointer;
	cursor: hand;
	color: #0071bb;
}

UL.widgetGrid UL.item A {
	text-decoration:none;
}

UL.widgetGrid UL.item:hover A {
	color: #0071bb;
}

UL.widgetGrid UL.item .summary A {
	font-weight:normal;
}

UL.widgetGrid .item .thumb {
	margin: 0;
	text-align: center;
	position: relative;
	z-index: 1;
}


UL.widgetGrid .item .title {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	margin: 0 32px;
}

UL.widgetGrid .item .summary {
	line-height: 14px;
	margin: 0 32px;a
	color: #425C68;
	font-size: 12px;
	vertical-align: baseline;
	width:150px;
}


DIV.widgetPopup DIV.header {
	width:100%;
	height:20px;
	margin:none;
	padding:none;
}

DIV.widgetPopup DIV.header H3 {
	color:#6184b0;
	font-weight:bold;
	font-size:16px;
}

DIV.widgetPopup DIV.images {
	float: left;
	width: 350px;
	text-align:center;
	height:325px;
	overflow:hidden;
}

DIV.widgetPopup DIV.description {
	float:right;
	width:300px;
	height:325px;
	overflow:hidden;
}

DIV.widgetPopup DIV.clear {
	clear:both;
}

DIV.widgetPopup DIV.widgetInfoTags {
	width:650px;
	overflow:hidden;
	height:auto;
}

DIV.widgetPopup DIV.relatedWidgets UL.widgetGrid {
	width: 650xp;
}

DIV.widgetPopup DIV.relatedWidgets .anythingWindow {
	border:none;
}

DIV.widgetPopup DIV.widgetInfoTags .anythingWindow {
	border:none;

}

/*DIV.widgetPopup #scrollbar1 { width: 520px; clear: both; margin: 20px 0 10px; }*/
DIV.widgetPopup DIV.widgetInfoTags .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
DIV.widgetPopup DIV.widgetInfoTags .overview { list-style: none; position: absolute; left: 0; top: 0; }
DIV.widgetPopup DIV.widgetInfoTags .thumb .end,
DIV.widgetPopup DIV.widgetInfoTags .thumb { background-color: #003D5D; }
DIV.widgetPopup DIV.widgetInfoTags .scrollbar { position: relative; float: right; width: 15px; }
DIV.widgetPopup DIV.widgetInfoTags .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
DIV.widgetPopup DIV.widgetInfoTags .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
DIV.widgetPopup DIV.widgetInfoTags .thumb .end { overflow: hidden; height: 5px; width: 13px; }
DIV.widgetPopup DIV.widgetInfoTags .disable{ display: none; }

DIV.widgetPopup DIV.addToWishlistLoading {
	font-size:16px;
	font-weight:bold;
	padding:5px;
	text-align:center;
	color:#33B;
	
}

/* Vertical Navigation */
#assetClassNavigation .navcontainer, #functionNavigation .navcontainer
{
	width: 375px;
	margin-left:auto;
	margin-right:auto;
	border-right: 1px solid #000;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
	background-color: #90bade;
	color: #333;
}


#assetClassNavigation .navcontainer ul, #functionNavigation .navcontainer ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#assetClassNavigation  .navcontainer li, #functionNavigation .navcontainer li
{
	border-bottom: 1px solid #90bade;
	margin: 0;
}

#assetClassNavigation  .navcontainer li a, #functionNavigation .navcontainer li a
{
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

DIV.widgetPopup H4 {
	background: url("../images/grid-gradient.gif") repeat-y scroll center center #EEEEEE;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
	color: #333333;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}

DIV.widgetPopup H3 {
	color: #000000;
	font-weight: bold;
	font-size:18px;
	margin-bottom:20px;
	background: url("../images/grid-gradient.gif") repeat-y scroll center center #EEEEEE;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
	color: #333333;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width:auto;
}


DIV.widgetInfoTags UL {
}

DIV.widgetInfoTags UL LI {
	background: #fafaf2;
	
	display:inline;
	color:#333;
	font-weight:bold;
	height:30px;
	padding:2px;
	margin:5px;
	padding-left:10px;
	padding-right:10px;
	line-height:29px;
	white-space:nowrap;
	text-decoration:uppercase;
	border:1px solid #CCC;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	width:auto;	
	text-align:center;
}

DIV.widgetInfoTags UL LI A, DIV.widgetInfoTags UL LI A:visited, DIV.widgetInfoTags UL LI A:active {
	text-decoration:none;
}

DIV.widgetInfoTags UL LI:hover {
	border-color:#000;	
	background:#eee;
}

DIV.widgetInfoTags UL LI A:hover {
	color:#000;
}


html>body #assetClassNavigation  .navcontainer li a { width: auto; }
html>body #functionNavigation  .navcontainer li a { width: auto; }

#assetClassNavigation  .navcontainer li a:hover, #functionNavigation .navcontainer li a:hover
{
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}

/* CSS Buttons  */
a.cssButton, a.cssButtonCenter {
	background: #fafaf2;
	
	display:block;
	color:#555555;
	font-weight:bold;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	border:1px solid #dcddcd;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	width:320px;
	
	text-align:center;
}

a.cssButtonCenter {
	margin-left:auto;
	margin-right:auto;
}

a:hover.cssButton, a:hover.cssButtonCenter{
	background:#dadabf;
	border-color: #969789;
	color: #333;
}

.cssButtonNoIcon{
	background:none;
	display:block;
}
.cssButtonDelete{
	background:url(../images/buttons/delete.png) no-repeat 10px 8px;
	text-indent:30px;
	display:block;
}



/* JS COULD */
DIV#functionCloudHolder {
	border:2px solid #DDD; -moz-box-shadow: 2px 2px 2px #888; -webkit-box-shadow: 2px 2px 2px #888; box-shadow: 2px 2px 2px #888;
	width:450px;
	float:left;
	margin-left:25px;
	margin-bottom:50px;
	
	-moz-border-radius: 10px 25px 10px 25px;
	border-radius: 10px 25px 10px 25px;
}

DIV#functionCloudHolder a.cssButtonCenter, DIV#functionCloudHolder a.cssButton  {
	-moz-border-radius: 5px 15px 5px 15px;
	border-radius: 5px 15px 5px 15px;
}

DIV#assetClassCloudHolder{
	border:2px solid #DDD; -moz-box-shadow: 2px 2px 2px #888; -webkit-box-shadow: 2px 2px 2px #888; box-shadow: 2px 2px 2px #888;
	width:450px;
	float:right;
	margin-right:25px;
	margin-bottom:50px;
	
	-moz-border-radius: 25px 10px 25px 10px ;
	border-radius:  25px 10px 25px 10px;
}

DIV#assetClassCloudHolder a.cssButtonCenter, DIV#assetClassCloudHolder a.cssButton  {
	-moz-border-radius: 15px 5px 15px 5px;
	border-radius: 15px 5px 15px 5px ;
}

DIV#functionCloudHolder .title, DIV#assetClassCloudHolder .title {
	font-size: 18px;
	text-align:center;
	line-height: 36px;
    color: #1b6090;
    font-weight: bold;
	font-family: 'Droid Sans',arial,serif;
	text-transform:uppercase;
}

DIV#assetClassCloud {
	width:400px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:25px;
	border:1px dashed #777;
}

DIV#functionCloud {
	width:400px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:25px;
	border:1px dashed #777;
}



div.jqcloud { font-family: 'Arvo', sans-serif; overflow: hidden; position: relative;  margin: 0 0 10px 0; background-color: #FFF;}
div.jqcloud a { color: inherit; font-size: inherit; text-decoration: none; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud span { padding: 0; text-shadow: #DDD 1px 1px 0px; }

.blueCloud span.w10 {font-size: 36px; color: #0D28A1; }
.blueCloud span.w9 {font-size: 34px;color: #0D28A1;}
.blueCloud span.w8 {font-size: 32px;color: #1F36A1;}
.blueCloud span.w7 {font-size: 30px;color: #1F36A1;}
.blueCloud span.w6 {font-size: 28px;color: #4054AD;}
.blueCloud span.w5 {font-size: 26px;color: #4054AD;}
.blueCloud span.w4 {font-size: 24px;color: #7C8DD6;}
.blueCloud span.w3 {font-size: 22px;color: #7C8DD6;}
.blueCloud span.w2 {font-size: 20px;color: #A9B7F5;}
.blueCloud span.w1 {font-size: 18px;color: #A9B7F5;}

.redCloud span.w10 {font-size: 36px; color: #9A0000; }
.redCloud span.w9 {font-size: 34px;color: #9A0000;}
.redCloud span.w8 {font-size: 32px;color: #A81414;}
.redCloud span.w7 {font-size: 30px;color: #A81414;}
.redCloud span.w6 {font-size: 28px;color: #C23434;}
.redCloud span.w5 {font-size: 26px;color: #C23434;}
.redCloud span.w4 {font-size: 24px;color: #DB5858;}
.redCloud span.w3 {font-size: 22px;color: #DB5858;}
.redCloud span.w2 {font-size: 20px;color: #E87272;}
.redCloud span.w1 {font-size: 18px;color: #E87272;}

/* Refactory css 12-2014 */
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    width: 100%
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top: 70px; 
    margin-bottom: 60px;
}
.homeskybg{
    background-image: url('../images/background/home/homesky_bg.png'); 
    max-width: 100%; /* or any other value */
    height: 400px;
    max-height: 407px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
} 
.row {
    margin:0 !important;
}
.background {
    background-repeat:no-repeat;
}
.homemostviewed{
    background-color: #B9BBBF;
}
.home_about_idata{
    background-color: #E4E6E9;
}
.home_footer{
    background-color: #EFF7FA;
}
img{
    max-width: 100%; /* or any other value */
    height: auto;
}
.zeromargin{
    margin-left: 0px;
    margin-right: 0px;
}
.positionrekative{
    position: relative;
}
.active-menu-list{
    position: absolute;
    left:0px;
    top:100%;
    color: #707070;
    //background-color: rgba(0, 0, 0, 0.66);
}
.active-welcome{
    color: #707070;
}
#welcome a.active-welcome:after{
        content: url("../images/buttons/home/nav/header-polygon.png");
        position: absolute;
        left:3%;
        top:80%;
        background-color:inherit; 
    }

li.active-menu-list:after{
    content: url("../images/buttons/home/nav/header-polygon.png");
    position: absolute;
    left:15%;
    top:80%;
    background-color:inherit; 
    margin-left: auto;
    margin-right: auto;
}
ul.alternated-menu li a:hover{
    background-color: inherit;
}
ul.alternated-menu li{
    padding-top: 7px;
    background: none;
}
ul.main-menu-list-brand li a:hover{
    background-color: inherit;
}
ul.dropdown-menu {
    min-width: 205px;
    margin: 0;
    padding: 0;
    list-style: none;
    display:table;
    border-spacing: 10px;
    border-collapse: separate; /* Redundant */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
ul.dropdown-menu li {
    min-width: 16px;
    max-width: 56px;
    vertical-align: baseline;
    display: table-cell;
    line-height: 23px;
    text-align:center;
}
ul.dropdown-menu li img {
    vertical-align: baseline;
}
.width30{
    width: 35%;
}
.width50{
    width: 65%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.height70{
    height: 70px;
}
img.logo{
    width: 100%;
    max-width: 184px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #6D932E;
}
.menu-color-white{
    color: white;
}
.menu-color-idata{
    color: #32CD32;
}
.header-idata-colored-upercased{
   color: #32CD32;
   text-transform: uppercase;
}
.header-font-size{
    font-size: 15px;
}
.memu-font-size{
    font-size: 11px;
}
.menu-actve-gray-color{
    color:#797E86;
}

#popupBottom{
    position:  absolute;;
    width: 500px;
    min-width: 200px;
    margin-top: 135px;
    margin-left: auto;
    right: 12%;
    height: 250px;
    max-height: 350px;
    background: none;
} 
#popupBottom:after,  
#popupBottom:before  {
    bottom:  100%;
    left: 90%;
    border:  solid transparent;
    content:  " ";
    height:  0;
    width:  0;
    position:  absolute;
    pointer-events:  none;
}
#popupBottom:after  {
    border-color:  rgba(136,  183,  213,  0);
    border-bottom-color:  #4242425;
    border-width:  16px;
    margin-left:  -16px;
}
#popupBottom:before  {
    border-color:  rgba(194,  225,  245,  0);
    border-bottom-color:  #424242;
    border-width:  16px;
    margin-left:  -16px;
}
.popover-title-text-width{
    width: 90%;
}
.popover-title-close-button-width{
    width: 10%;
}
.popover-title-right-button-pos{
   right: -20px;
   cursor: pointer;
}
.item > img:hover{
    cursor: pointer; 
}
.item > .col-md-4 {
    width: 50%;
    padding: 0px !important;
    margin: 0px !important;
}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

.carousel{
   padding: 70px 30px 70px 30px;
    margin: 0;
}
ul.carousel-inner{
    position: relative;
    margin-top:20%;
    height:266px;
    overflow: hidden; 
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: gray;
    padding: 0; 
    margin: 0;
} 
ul.carousel-inner li{
    height:266px;
    list-style: none;
    display: table-cell;
    padding: 0; 
    margin: 0;
    
}
ul.carousel-inner>li.item{
   width: 100%;
}
.item-content{
   left: 0px;
   width: 50%;
   border: 1px solid blue;
   height:266px;
}
.item-content-popover{
   left: 0px;
   width: 100%;
   border: 1px solid blue;
   height: 350px;
   margin: 0px;
   padding: 0px
}
 #idms-widget-carousel > .col-md-4 {
    width: 50%;
    padding: 0px !important;
    margin-left: 25%;
}
.carousel-indicators{
    top: 95%;
}
.carousel-control .chevron-left,
.carousel-control .chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .chevron-right {
  right: 50%;
  margin-right: -10px;
}
*div,*ul,*li{
    margin: 0 !important;
    padding: 0 !important;
}
.idms-slide-popover {
  position: absolute;
  top: 7%;
  left: 25%;
  z-index: 1060;
  width: 50%;
  padding: 1px;
  text-align: left;
  background-color: gray;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.idms-slide-popover >.item-content-popover{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
}
#idms-widget-carousel > .idms-slide-popover{
    max-width: 50%;
    max-height: 100%;
    height: 350px;
}

.home-image-slide-modal-size{
    position: absolute;  
}
#idms-slide-left .carousel-control,
#idms-slide-left .carousel-control{
    width: 12%;
}
.carousel-indicators li {
    width: 184px;
    min-width: 50px;
    max-width: 185px;
    height: 5px;
    background: url('../images/carousel/indicators/home_carousel_indicator_inactive.png');  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
}
.carousel-indicators .active {
    width: 184px;
    min-width: 50px;
    max-width: 185px;
    height: 5px;
    margin: 0;
    background: url('../images/carousel/indicators/Home_carousel_indicator_active.png'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
ul.quick-finder-content
{
    width: 92%;
    padding: 0;
    margin-left: 20px;
    list-style-type: none;
    color: white;
}
ul.quick-finder-content li
{
    list-style: none;
    display: block;
}
.zeropadding{
    padding: 0;
}
.quick-find-tag dd, 
.quick-find-tag dt, 
.quick-find-tag ul, 
.quick-find-by-alpha dd,
.quick-find-by-alpha dt,
.quick-find-by-alpha ul{ 
    margin:0px; 
    padding:0px;
    border-radius: 1px;
}
.quick-find-tag dt,
.quick-find-by-alpha dt{ 
    border: 1px solid #84898D;
}
.quick-find-tag dd,
.quick-find-by-alpha dd{ 
    position:relative; 
}
.quick-find-tag a,
.quick-find-by-alpha a{ 
    color:#9DA0A4; 
    text-decoration:none; 
    outline:none;
}
.quick-find-tag dt a,
.quick-find-by-alpha dt a{
    background:#475158 url('../images/arrow.png') no-repeat scroll; 
    background-position: 97% 10px;
    display:block; 
    padding-right: 20px;
    width:100%;
}
.quick-find-tag dt a span,
.quick-find-by-alpha dt a span{
    cursor:pointer; 
    display:block; 
    padding:5px;
}
.quick-find-tag dd ul,
.quick-find-by-alpha dd ul{ 
    background:#475158 none repeat scroll 0 0; 
    color:#9DA0A4; 
    display:none;
    left:0px; 
    padding:5px 0px; 
    position:absolute; 
    top:2px;
    width:100%; 
    list-style:none;
}
.quick-find-tag span.value, 
.quick-find-by-alpha span.value{ display:none;}
.quick-find-tag dd ul li a,
.quick-find-by-alpha dd ul li a{ 
    padding:5px; display:block;
}
.quick-find-tag-title{ padding: 5px 0 20px 5px;}
.quick-find-by-alpha-title{padding: 5px 0 20px 5px;}
.quick-find-button-tag{
  width: 100%;
  height: 30px;
  text-align: center;
  border: 1px solid #84898D;
  background:#475158;
  padding: 0 0 2px 0;
}
.quick-find-by-alpha-select-item,
.quick-find-tag-select-item{
    z-index: 9999;
}
#popupBottom.popover{
    height: auto;
    overflow: visible;
}
#popupBottom >.popover-content{
    height: auto;
    overflow: visible;
}
.quick-find-button-tag >.center-block{
     position: relative; 
     margin-left: auto;
     margin-right: auto; 
     margin-top: -2px
}
ul.alternated-menu{
    background-color: #363335; 
    display: inline-flex;
    width: auto; 
    top: -7px
}
ul.footer-social-list{
    position: relative;
    margin-top:0%;
    height:auto;
    overflow: hidden; 
    width: 100%;
    list-style-type: none;
    padding: 0; 
    margin: 0;
} 
ul.footer-social-list li{
    height:auto;
    list-style: none;
    display: table-cell;
    padding: 0; 
    margin: 0;
    
}
ul.footer-social-list>li.social-list{
   width: 25%;
   text-align: center
}
@media (max-width: 768px) {
 .idms-slide-popover {
  top:17%;
  left: 13.5%;
}
#idms-widget-carousel > .idms-slide-popover{
  width: 520px;
  max-width: 700px;
  height: 270px;
}
.item-content-popover{
   height: 270px; 
}
 #welcome a.active-welcome:after{
        content: url("../images/buttons/home/nav/header-polygon.png");
        position: absolute;
        left:45%;
        top:80%;
        background-color:inherit; 
    }
    .carousel-indicators{
        top: 90%;
        height: 5px;
        width: 520px;
        left: 43%;
    }
   .carousel-indicators li {
    width: 168px;
    height: 5px;
    background: url('../images/carousel/indicators/home_carousel_indicator_inactive.png');  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
}
.tag-control >  .col-xs-12,
.alpha-control > .col-xs-12{
    width: 70%;
}
.col-xs-6.col-md-3.size-screen-control{
    width: 30%;
}
.carousel-indicators .active {
    width: 168px;
    height: 5px;
    margin: 0;
    background: url('../images/carousel/indicators/Home_carousel_indicator_active.png'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#popupBottom{
    margin-top: 85px;
} 
#popupBottom:after,  
#popupBottom:before  {
    left: 42%;
}
.idms-slide-popover{
 border: 1px solid red;  
 width: 700px
}
.footer > .social >.col-xs-6 {
    width: 20%;
    border: 1px solid red;
}
}


